<!doctype html>
<html lang="en" ng-app="app">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    
    <link rel="stylesheet" href="resources/css/login.css"/>
    <link rel="stylesheet" href="resources/css/event.css"/>



    <title>View Event</title>
  </head>
  <body>
  <div ng-controller="AttendCtrl" ng-init="populate()" id="main">

    <div class="left bg">
      <div class="map_container">
        <h4>{{event.name}}</h4>

        <div class="view_container">
          <h2>Event Map/Floorplan</h2>
            <div class="map">
                <button class="btn btn-primary" id="create_btn" ng-click="start()">Show Map</button>
            </div>
        </div>
        
      </div>

      <div class="desc_container">
        <div class="view_container">
          <h2>Time</h2>
          <p class="view_desc" id="eventTime" ng-model="event.time" ng-required="required">{{event.time}}</p>
        </div>
        <div class="view_container">
          <h2>Location</h2>
          <p class="view_desc" id="eventLoc" ng-model="event.loc" ng-required="required">{{event.loc}}</p>
        </div>
        <!-- <h2 class="btn">Details</h2>
        <h2 class="btn">Attendees</h2> -->
        
      </div>
    </div>

    <div class="r_container">
      <!-- <h4 class="clear">{{event.name}}</h4> -->
      <!-- <h2>{{event name}}</h2>
      <h2>{{attendee name}}</h2>
      <h2>{{attendee/table num}}</h2>
 -->      <!-- <h2 class="btn">About</h2>
      <h2 class="btn">{{category 1}}</h2> -->


      <!-- <div class="" id="desc_container"> -->
        <div class="bg">
        <div class="view_container">
          <h2>Description</h2>
          <p class="view_desc" id="eventDesc" ng-model="event.desc" ng-required="required">{{event.name}}</p>
        </div>
      <!-- <div class="r_container"> -->
        <div class="view_container">
          <h2>Attendees</h2>
          <ul class="guests list-group">
            <li class="" ng-repeat="attendee in event.attendees">
              <p class="view_desc">{{attendee.email}} ({{attendee.status}})</p>

<!--               <div class="d-flex justify-content-between" ng-hide="editing" ng-click="editing = true">
                <div class="mb-1 attendeeEmail">{{attendee.email}}</div>
                <small class="text-muted attendeeStatus">{{attendee.status}}</small>
              </div>
              <form ng-show="editing" ng-submit="editing = false">
                <input type="text" placeholder="Email" ng-model="attendee.email">
              </form> -->

            </li>
          </ul>
        </div>
      </div>
          <br><br>
          <a class="btn btn-secondary" ng-click="editRedirect(event)" href="/register">REGISTER</a>
        </div>

      </div>
    <!-- </div> -->


  </div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <!-- <script type="text/javascript" src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.4.1.min.js" ></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script type="text/javascript" src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.9/angular.js"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.9/angular-resource.js"></script>

    <script type="text/javascript" src="index.js"></script> -->
</body>
</html>