<!doctype html>
<html lang="en" ng-app="app">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    
    <link rel="stylesheet" href="resources/css/login.css"/>
    <link rel="stylesheet" href="resources/css/event.css"/>



    <title>Register Form</title>
  </head>
  <body>
  <div ng-controller="RegCtrl" ng-init="populate()">

    <div class="left">
      <div class="desc_container">
        <h2>Register for {{event.name}}</h2>
        <form ng-submit="selectSeat(name, selected)">
          <div class="form-group">
            <label>Name</label>
            <input type="text" ng-model="name" class="form-control">
          </div>
          <select class="form-control btn btn-outline-success" ng-model="selected" ng-options="label for label in event.map.labels">
            <option class="btn" value="" >Select Seat</option>
          </select>
          <button type="submit" class="btn btn-primary" >Submit</button>
        </form>
        
      </div>
    </div>

    <div class="guests_container">
      <div class="map_container">
        <h2>Event Map/Floorplan</h2>
        <button class="btn" id="create_btn" ng-click="start()">Show Map</button>
        <div class="map">
        </div>
        <a class="btn" ng-click="editRedirect(event)" href="/attending">Back to Form</a>
      </div>
    </div>
  </div>
  
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <!-- <script type="text/javascript" src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.4.1.min.js" ></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script type="text/javascript" src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.9/angular.js"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.9/angular-resource.js"></script>

    <script type="text/javascript" src="index.js"></script> -->

</body>
</html>